body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
}

.card h3, label {
    color: #ffffff;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #ff9800;
}


.card-title {
    color: #ffffff !important;
    font-weight: bold;
    margin-top: 10px;
}


.text-muted {
    color: #00d4ff !important;
    font-size: 0.9rem;
}

.btn-warning {
    background-color: #ff9800;
    border: none;
    font-weight: bold;
    color: #000;
}


.btn-outline-primary {
    color: #3182ce;
    border-color: #3182ce;
}

.btn-outline-danger {
    color: #e53e3e;
    border-color: #e53e3e;
}

.product-img {
    height: 250px;
    object-fit: contain;
    background-color: #2a2a2a;
    border-radius: 8px 8px 0 0;
}

.badge-anime {
    background-color: #3b3b3b;
    color: #ff9800;
    font-size: 0.8rem;
}

.price-text {
    font-size: 1.5rem;
    color: #4caf50;
    font-weight: bold;
}